// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #222222;

.product {
  border: 2px solid $dark-grey;
  border-radius: 3px;
  margin-top: 10px;
  height: 250px;
  .product-image {
    height: 150px;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid $dark-grey;
    img {
      width: 100%;
    }
    .product-price {
      height: 30px;
      width: 100%;
      text-align: right;
      padding: 5px;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .product-title {
    padding: 10px;
  }
}